<ion-header>
  <ion-toolbar>
    <ion-title>{{form}}</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-button type="submit"  (click)="eliminaToken()">Elimina</ion-button> -->

<ion-content>
  <form #accountForm="ngForm">
    @if(form == 'Registrazione') {

      <ion-item>
        <ion-label>Codice Fiscale</ion-label>
        <ion-input type="text" name="CF" [(ngModel)]="idCliente" required></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label>Nome</ion-label>
        <ion-input type="text" name="nome" [(ngModel)]="nome" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Cognome</ion-label>
        <ion-input type="text" name="cognome" [(ngModel)]="cognome" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Data di nascita</ion-label>
        <ion-input type="text" name="data" [(ngModel)]="dataNascita" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Documento d'identità</ion-label>
        <ion-input type="text" name="IDdocumento" [(ngModel)]="documentoID" placeholder="Inserire il numero della carta d'identità" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Sesso</ion-label>
        <ion-select name="sesso" [(ngModel)]="sesso" required>
          <ion-select-option value="M">Maschio</ion-select-option>
          <ion-select-option value="F">Femmina</ion-select-option>
          <ion-select-option value="N">Non specificato</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Nazionalità</ion-label>
        <ion-input type="text" name="nazionalità" [(ngModel)]="nazionalita" required></ion-input>
      </ion-item>    

      <ion-item>
        <ion-label>Stato</ion-label>
        <ion-input type="text" name="stato" [(ngModel)]="stato" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Città</ion-label>
        <ion-input type="text" name="città" [(ngModel)]="citta" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>CAP</ion-label>
        <ion-input type="text" name="cap" [(ngModel)]="CAP" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Indirizzo</ion-label>
        <ion-input type="text" name="indirizzo" [(ngModel)]="indirizzo" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Numero Civico</ion-label>
        <ion-input type="text" name="numCivico" [(ngModel)]="numCivico" required></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label>Email</ion-label>
        <ion-input type="email" name="email" [(ngModel)]="email" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Password</ion-label>
        <ion-input type="password" name="password" [(ngModel)]="password" required></ion-input>
      </ion-item>

      <ion-button type="submit" [disabled]="!accountForm.valid" (click)="Registrazione()">Registrati</ion-button>

    }@else if (form=='Login') {
      <ion-item>
        <ion-label>Email</ion-label>
        <ion-input type="email" name="email" [(ngModel)]="email" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Password</ion-label>
        <ion-input type="password" name="password" [(ngModel)]="password" required></ion-input>
      </ion-item>

      <ion-button type="submit" [disabled]="!accountForm.valid" (click)="Login()">Accedi</ion-button>
      <ion-button type="submit" (click)="changeForm()">Registrati</ion-button>
    }  

  </form>
</ion-content>


