<!--
  <ion-header>
      <a routerLink="login">Amministratore</a>
      <p>|</p>
      <a routerLink="account-cliente" (click)="cambiaForm('Login')">Accedi</a>
      <p>|</p>
      <a routerLink="account-cliente" (click)="cambiaForm('Registrazione')">Registrazione</a>
  </ion-header>

  <ion-content>
    <router-outlet></router-outlet>
  </ion-content>
-->
<ion-content>
  <form #cercaBigliettiForm="ngForm">
    <ion-item>
      <ion-input type="text" name="partenza" [(ngModel)]="partenza" placeholder="Partenza" required></ion-input>
    </ion-item>
      
    <ion-item>
      <ion-input type="text" name="destinazione" [(ngModel)]="destinazione" placeholder="Destinazione" required></ion-input>
    </ion-item>
    
    <ion-item id="click-trigger-partenza">
      <ion-input [value]="dataInseritaP.split('T')[0]" readonly placeholder="Data di partenza"></ion-input>
    </ion-item>

    <ion-popover trigger="click-trigger-partenza" triggerAction="click">
      <ng-template>
        <ion-datetime class="data" [showDefaultButtons]="true" doneText="Fatto" cancelText="Chiudi" presentation="date" name="dataPartenza" [(ngModel)]="dataInseritaP" ngDefaultControl></ion-datetime>
      </ng-template> <!--presentation=date fa si che non compaia l'orario nel calendario-->
    </ion-popover>

    <ion-item id="click-trigger-ritorno">
      <ion-input [value]="dataInseritaR.split('T')[0]" readonly placeholder="Data di ritorno"></ion-input>
    </ion-item>

    <ion-popover trigger="click-trigger-ritorno" triggerAction="click">
      <ng-template>
        <ion-datetime class="data" [showDefaultButtons]="true" doneText="Fatto" cancelText="Chiudi" presentation="date" name="dataRitorno" [(ngModel)]="dataInseritaR" ngDefaultControl></ion-datetime>
      </ng-template>
    </ion-popover>

    <ion-button type="submit" [disabled]="!cercaBigliettiForm.valid" (click)="Cerca()">Cerca</ion-button>

  </form>

  @if(trovati && (bigliettiAndata.length>0 || bigliettiRitorno.length>0)){
    @for(biglietto of bigliettiAndata; track $index; let i=$index){
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{partenza}}    {{destinazione}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>{{biglietto.oraPartenza.split(' ')[1]}}    {{biglietto.oraArrivo.split(' ')[1]}}</p>
          <p>{{biglietto.prezzo}}</p>
          <ion-button [routerLink]="'/dati-biglietto'">Seleziona</ion-button>
        </ion-card-content>
      </ion-card>
    }
    @for(biglietto of bigliettiRitorno; track $index; let i=$index){
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{destinazione}}    {{partenza}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>{{biglietto.oraPartenza.split(' ')[1]}}    {{biglietto.oraArrivo.split(' ')[1]}}</p>
          <p>{{biglietto.prezzo}}</p>
          <ion-button [routerLink]="'/dati-biglietto'">Seleziona</ion-button>
        </ion-card-content>
      </ion-card>
    }
  }
</ion-content>