<ion-content>

  <form #userForm="ngForm">

    @for(numero of passeggeri; track $index; let i=$index){
      <ion-item>
        <ion-input type="text" name="idPasseggero" [(ngModel)]="idPasseggero" placeholder="Codice fiscale del passeggero" ngDefaultControl  required></ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="text" name="nome" [(ngModel)]="nome" placeholder="Nome del passeggero" ngDefaultControl  required></ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="text" name="cognome" [(ngModel)]="cognome" placeholder="Cognome del passeggero" ngDefaultControl  required></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="stacked">Data di nascita</ion-label>
        <ion-input type="date" name="data" [(ngModel)]="dataNascita" required ngDefaultControl></ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="text" name="documentoID" [(ngModel)]="documentoID" placeholder="Documento" ngDefaultControl  required></ion-input>
      </ion-item>
    }

    <ion-button (click)="Acquista()">Acquista</ion-button>
  </form>
</ion-content>    


<!-- @if(creato){
  <h1>Dati ripeilogativi dei biglietti</h1>
  @for()
  <ion-card class="results-card">
    <ion-card-header>
      <ion-card-title>{{biglietto.idVolo}}    Partenza: {{biglietto.dataPartenza.split(' ')[0]}}    Ora:{{biglietto.dataPartenza.split(' ')[1]}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>CF: {{biglietto.idPasseggero}}</p>
        <p>Tariffa: {{biglietto.tariffa}}   Posto: {{biglietto.posto}}</p>
        <p>Prezzo complessivo: {{biglietto.prezzoFinale}} €</p>
        <p>Data di acquisto: {{biglietto.dataAcquisto}}</p>
      </ion-card-content>
  </ion-card>
} -->