<ion-content>

    @for(numero of numeroPasseggeri; track $index; let i=$index){
      <h1>Inserire i dati del passeggero {{i+1}}</h1>
      <form #userForm="ngForm">
      
      <ion-item>
        <ion-input type="text" name="idPasseggero" [(ngModel)]="passeggeri[i].idPasseggero" placeholder="Codice fiscale del passeggero" ngDefaultControl  required></ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="text" name="nome" [(ngModel)]="passeggeri[i].nome" placeholder="Nome del passeggero" ngDefaultControl  required></ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="text" name="cognome" [(ngModel)]="passeggeri[i].cognome" placeholder="Cognome del passeggero" ngDefaultControl  required></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="stacked">Data di nascita</ion-label>
        <ion-input type="date" name="data" [(ngModel)]="passeggeri[i].dataNascita" required ngDefaultControl></ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="text" name="documentoID" [(ngModel)]="passeggeri[i].documentoID" placeholder="Documento" ngDefaultControl  required></ion-input>
      </ion-item>

      <ion-button (click)="Acquista(passeggeri[i])" [disabled]="!userForm.valid">Conferma</ion-button>  

      </form>  
    }   


 @if(numBigliettiCreati == numPasseggeri){
  <h1>Dati riepilogativi dei biglietti</h1>
  @for(biglietto of bigliettiCreati; track $index){
  <ion-card class="results-card">
    <ion-card-header>
      <ion-card-title>{{biglietto.idVolo}}    Partenza: {{biglietto.dataPartenza.split(' ')[0]}}    Ora:{{biglietto.dataPartenza.split(' ')[1]}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>CF: {{biglietto.idPasseggero}}</p>
        <p>Tariffa: {{biglietto.tariffa}}   Posto: {{biglietto.posto}}</p>
        <p>Prezzo complessivo: {{biglietto.prezzoFinale}} €</p>
        <p>Data di acquisto: {{biglietto.dataAcquisto}}</p>
      </ion-card-content>
  </ion-card>
  }
} 

</ion-content> 